
span.icon > .fa {
    cursor: default;
}
.admonitionblock td.icon {
    text-align: center;
    width: 80px;
}
.admonitionblock td.icon [class^="fa icon-"] {
    font-size: 2.5em;
    text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    cursor: default;
}
.admonitionblock td.icon .icon-note:before {
    content: "\f05a";
    color: #19407c;
}
.admonitionblock td.icon .icon-tip:before {
    content: "\f0eb";
    text-shadow: 1px 1px 2px rgba(155,155,0,.8);
    color: #111;
}
.admonitionblock td.icon .icon-warning:before {
    content: "\f071";
    color: #bf6900;
}
.admonitionblock td.icon .icon-caution:before {
    content: "\f06d";
    color: #bf3400;
}
.admonitionblock td.icon .icon-important:before {
    content: "\f06a";
    color: #bf0000;
}


.conum[data-value] {
    display: inline-block;
    color: #fff !important;
    background: rgba(0,0,0,.8);
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-align: center;
    font-size: .75em;
    width: 1.67em;
    height: 1.67em;
    line-height: 1.67em;
    font-family: "Open Sans", "DejaVu Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
}
.conum[data-value] * {
    color: #fff !important;
}
.conum[data-value] + b {
    display: none;
}
.conum[data-value]::after {
    content: attr(data-value);
}
pre .conum[data-value] {
    position: relative;
    top: -.125em;
}
b.conum * {
    color: inherit !important;
}
.conum:not([data-value]):empty {
    display: none;
}

pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

.swal2-radio {
    display: block !important;
}

/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */
/* ------------------------------------------------------------------------------------------------------------ */

#menu-closer {
    background-repeat: no-repeat;
    background-position: 20px 10px;
    background-image: url("/css/images/close_1.png");
    width:50px;
    height:50px;
}

.practice-sidebar {
    align-self: stretch;
    min-width: 240px;
    margin-bottom: 30px;
}

.practice-nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
}

.practice-nav .practice-nav {
    display: none;
    padding-left: 15px;
    border-right: none;
    overflow-y: hidden;
    transition: max-height .3s;
}

.practice-nav__item {
    position: relative;
    padding: 10px;
    padding-left: 0;
    line-height: 1.2;
}

.practice-nav__item .practice-nav__item {
    padding: 5px 10px;
}

a.practice-nav__item--chosen {
    text-decoration: underline;
}

.practice-nav__item--active > .practice-nav {
    display: block;
}

.practice-nav__item--active > .practice-nav__parent {
    text-decoration: underline;
}

.practice-nav__item--active > .practice-nav__parent .practice-nav__caret {
    transform: rotate(90deg);
    transition: transform .3s;
}

.practice-nav__parent {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 15px 0 0;
    border: none;
    outline: none;
    background: none;
    color: #12bbad;
    text-align: left;
    font-weight: 200;
    cursor: pointer;
}

.practice-nav__parent:focus {
    outline: none;
}

.practice-nav__caret {
    flex: 0 0 auto;
    margin-left: auto;
    transition: transform .3s;
}

.practice-nav__icon {
    margin-right: 5px;
}

@media screen and (max-width: 992px) {
    .practice-nav__item {
        padding: 10px 0;
    }

  .practice-nav__parent {
    padding: 0;
  }


}

.list-group .list-group-item {
    background-repeat: no-repeat;
    background-position: 20px center;
    padding-left: 50px;
}

.item-onboarding {
    background-image: url("/css/images/onboarding.png");
}

.item-hiring {
    background-image: url("/css/images/hiring_3.png");
}

.item-knowledge-registration {
    background-image: url("/css/images/knowledge-registration.png");
}

.item-sharing {
    background-image: url("/css/images/sharing_1.png");
}

.item-lessons {
    background-image: url("/css/images/lessons.png");
}

.item-review {
    background-image: url("/css/images/review.png");
}

.item-managers {
    background-image: url("/css/images/managers.png");
}

.item-kcs {
    background-image: url("/css/images/kcs_1.png");
}



.how-to {

}



.how-to h5 button {
    text-align: left;
    color: #000;
}



