<ul class="practice-nav">
{% for item in include.items %}
    <li class="practice-nav__item {%if item.children %}practice-nav__item--has-children{% endif %} {% if page.url contains item.highlight %}practice-nav__item--active practice-nav__item--chosen{% endif %}">
        {% if item.children %}
            <button class="practice-nav__parent">
                {% if item.icon %}
                <img class="practice-nav__icon" src="/css/images/practice_icons/{{ item.icon }}.svg">
                {% endif %}
                {{item.title}}
                <svg class="practice-nav__caret" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18"><path fill="none" d="M0 0h24v24H0z"/><path fill="currentColor" d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z"/></svg>
            </button>            
        {% elsif item.link %}
            <a class="practice-nav__link {% if page.url contains item.link %}practice-nav__item--chosen{% endif %}" href="{{item.link}}">
                {% if item.icon %}
                <img class="practice-nav__icon" src="/css/images/practice_icons/{{ item.icon }}.svg">    
                {% endif %}

                {{item.title}}
            </a>
        {% else %}
            {{item.title}}
        {% endif %}
        
        {% if item.children %}
            {% include practice-nav.html items=item.children %}
        {% endif %}
    </li>
{% endfor %}
</ul>