<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <!--
  <meta name="description" content="Free Web tutorials">
   <meta name="keywords" content="HTML, CSS, JavaScript"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/bootstrap-4.3.1.css">
  <link rel="stylesheet" href="/css/app.css">
  <meta name="yandex-verification" content="a043c904e21d5d7d" />
  <meta name="google-site-verification" content="64vYvjYyryTvSdMcjPmv48Nfl4l9aieHwFrcY3M_Eqo" />
  <link rel="icon" href="/favicon.png" type="image/gif" sizes="16x16">
</head>

<body>
  <div class="pt-3 pb-2" style="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 main-content-container" style="margin-top: 20px;">
            {{ content }}
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 main-content-container" style="margin-top: 20px;">
        <p>Ссылка на эту страницу: <a href="https://pragmatic-km.guide{{ page.url}}">https://pragmatic-km.guide{{ page.url}}</a><br></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 main-content-container">

        <script src="https://yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
        <script src="https://yastatic.net/share2/share.js"></script>
        <div>Поделиться:
        <div class="ya-share2" data-services="vkontakte,facebook,twitter,reddit,evernote,skype,telegram"></div>
        </div>

      </div>
    </div>
  </div>
  <div class="pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p class="">Мы собрали для вас простые но эффективные приёмы управления знаниями, которые помогут не требуют больших вложений ресурсов.</p>
        </div>
        {% if page.previous.url %}
        <div class="col-md-3"><a class="btn btn-block btn-lg btn-info" href="{{page.previous.url}}">< К предыдущей идее</a></div>
        {% endif %}
        {% if page.next.url %}
        <div class="col-md-3"><a class="btn btn-block btn-lg btn-warning" href="{{page.next.url}}">К следующей идее &gt;</a></div>
        {% else %}
        <div class="col-md-3"><a class="btn btn-block btn-lg btn-primary" href="/wins/README.html">К списку &gt;</a></div>
        {% endif %}
      </div>
    </div>
  </div>

<nav class="navbar navbar-expand-md navbar-light bg-primary">
  <div class="container"> <a class="navbar-brand text-primary" href="/">
    <i class="fa d-inline fa-lg fa-stop-circle text-warning"></i>
    <b class="text-warning"> pragmatic km guide</b>
  </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if page.url contains '/usage/' %}bg-warning{% endif %}"> <a class="nav-link" href="/usage/README.html">Зачем это нужно</a> </li>
        <li class="nav-item {% if page.url contains '/wins/' %}bg-warning{% endif %}"> <a class="nav-link" href="/wins/README.html">Быстрые выигрыши</a> </li>
        <li class="nav-item {% if page.url contains '/practices/' %}bg-warning{% endif %}"> <a class="nav-link" href="/practices/README.html" style="display: inline-block;">Практики</a></li>
        <li class="nav-item"> <a class="nav-link text-warning" href="https://t.me/KnowledgeConfTalks" target="_blank"><i class="fa fa-fw fa-external-link"></i>Сообщество</a> </li>
        <li class="nav-item"> <a class="nav-link text-warning" href="https://t.me/pragmatic_km" target="_blank"><i class="fa fa-fw fa-external-link"></i>Канал</a> </li>
        <!-- <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-fw fa-search"></i></a> </li> -->
      </ul>
    </div>
  </div>
</nav>





<div class="py-3 bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0"><a href="/LICENSE.html" class="text-warning">Лицензия Creative Commons</a> | by Igor Tsupko, Lana Novikova, Rodion Nagornov &amp; community</p>
      </div>
    </div>
  </div>
</div>
<script src="/js/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="/js/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(64967260, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/64967260" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>