<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <!--
  <meta name="description" content="Free Web tutorials">
   <meta name="keywords" content="HTML, CSS, JavaScript"> -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/bootstrap-4.3.1.css">
  <link rel="stylesheet" href="/css/app.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-bootstrap-4/bootstrap-4.css">
  <meta name="yandex-verification" content="a043c904e21d5d7d" />
  <meta name="google-site-verification" content="64vYvjYyryTvSdMcjPmv48Nfl4l9aieHwFrcY3M_Eqo" />
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container"> <a class="navbar-brand text-primary" href="/">
    <i class="fa d-inline fa-lg"></i>
    <b> pragmatic km guide</b>
  </a> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar4">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbar4">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item {% if page.url contains '/usage/' %}bg-warning{% endif %}"> <a class="nav-link" href="/usage/README.html">Как пользоваться</a> </li>
        <li class="nav-item {% if page.url contains '/wins/' %}bg-warning{% endif %}"> <a class="nav-link" href="/wins/README.html">Быстрые выигрыши</a> </li>
        <li class="nav-item {% if page.url contains '/practices/' %}bg-warning{% endif %}"> <a class="nav-link" href="/practices/README.html" style="display: inline-block;">Практики:</a>
          <a href="/practices/onboarding/README.html">🦺</a>
          <a href="/practices/hiring/README.html">🧲</a>
          <a href="/practices/knowledge-registration/README.html">📚</a>
          <a href="/practices/knowledge-sharing/README.html">🗣</a>
          <a href="/practices/lessons-learned/README.html">🧨</a>
          <a href="/practices/review-knowledge/README.html">‍‍📜</a>
          <a href="/practices/knowledge-managers/README.html">👩‍</a>
          <a href="/practices/kcs/README.html">✋</a>
          &nbsp;&nbsp;&nbsp;
        </li>
        <li class="nav-item"> <a class="nav-link" href="https://t.me/KnowledgeConfTalks" target="_blank"><i class="fa fa-fw fa-external-link"></i>Сообщество</a> </li>
        <li class="nav-item"> <a class="nav-link" href="https://t.me/pragmatic_km" target="_blank"><i class="fa fa-fw fa-external-link"></i>Канал</a> </li>
        <!-- <li class="nav-item"> <a class="nav-link" href="#"><i class="fa fa-fw fa-search"></i></a> </li> -->
      </ul>
    </div>
  </div>
</nav>


<div class="py-5" style="">
  <div class="container">
    <div class="row" id="content-area">
      <div class="col-md-12 main-content-container" style="margin-top: 20px;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" style="padding: 0.25rem 1rem; background: #f8f9fa!important">
            <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">{{ site.breadcrumbs.hometext | default: "Home" }}</a></li>

            {% capture page_url_without_index_html %}{{ page.url | remove: "/README.html" }}{% endcapture %}
            {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
            {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus: 1 }}{% endcapture %}
            {% for i in (1..forLoopMaxInt) %}
            {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
            {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}

            {% assign breadcrumb = site.data.breadcrumbs[current_breadcrumb_url] %}

            {% if breadcrumb %}
            <li class="breadcrumb-item">
              <a href="{{ site.baseurl }}{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if splitted_url_parts.last contains '.html' %}
            <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
            {% endif %}
          </ol>
        </nav>
        <p class="text-right">
          <a href="https://t.me/i_tsupko" class="btn btn-warning btn-sm">Задать вопрос</a>
          <a href="#" class="btn btn-sm btn-primary btn-share-knowledge">Поделиться знаниями</a>
          <a href="https://gitlab.com/pragmatic-km/knowledge-guide/-/edit/master/{{ page.path }}" class="btn btn-sm btn-primary">Редактировать страницу</a>
        </p>
        <h1 class="">{{ page.title }}</h1>

        {{ content | replace: ".adoc", ".html" }}
      </div>
    </div>
  </div>
</div>
<div class="py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p class="mb-0"><a href="/LICENSE.html">Лицензия Creative Commons</a> | by Igor Tsupko, Lana Novikova, Rodion Nagornov &amp; community</p>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="/js/popper.min.js" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9/dist/sweetalert2.min.js"></script>
<script src="https://apps.tsupko.tech/sharing-pipe.js"></script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
  (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

  ym(64967260, "init", {
    clickmap:true,
    trackLinks:true,
    accurateTrackBounce:true,
    webvisor:true
  });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/64967260" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>

</html>
