---
layout: 000-main
---

<div class="py-5" style="">
  <div class="container">
    <div class="row" id="content-area">
      <div class="col-md-12 main-content-container" style="margin-top: 20px;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb" style="padding: 0.25rem 1rem; background: #f8f9fa!important">
            <li class="breadcrumb-item"><a href="{{ site.baseurl }}/">{{ site.breadcrumbs.hometext | default: "Home" }}</a></li>

            {% capture page_url_without_index_html %}{{ page.url | remove: "/README.html" }}{% endcapture %}
            {% assign splitted_url_parts = page_url_without_index_html | split: '/' %}
            {% capture forLoopMaxInt %}{{ splitted_url_parts.size | minus: 1 }}{% endcapture %}
            {% for i in (1..forLoopMaxInt) %}
            {% capture current_breadcrumb_url %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}
            {% capture next_prepender %}{{next_prepender}}/{{ splitted_url_parts[i] }}{% endcapture %}

            {% assign breadcrumb = site.data.breadcrumbs[current_breadcrumb_url] %}

            {% if breadcrumb %}
            <li class="breadcrumb-item">
              <a href="{{ site.baseurl }}{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if splitted_url_parts.last contains '.html' %}
            <li class="breadcrumb-item active" aria-current="page">{{page.title}}</li>
            {% endif %}
          </ol>
        </nav>
        <p class="text-right">
          <a href="https://t.me/i_tsupko" class="btn btn-warning btn-sm">Задать вопрос</a>
          <a href="/usage/CONTRIBUTE.html" class="btn btn-sm btn-primary">Поделиться знаниями</a>
          <a href="https://gitlab.com/pragmatic-km/knowledge-guide/-/edit/master/{{ page.path }}" class="btn btn-sm btn-primary">Редактировать страницу</a>
        </p>
        <h1 class="">{{ page.title }}</h1>

        {{ content | replace: ".adoc", ".html" }}
      </div>
    </div>
  </div>
</div>
